<section class="profileListWrap">
    <h2 class="profileTitle">Profile</h2>
    <dl class="profileList">
        <dt class="tit">Name</dt>
        <dd class="answer">최경환 (Benjamin Choi)</dd>
        <dt class="tit">Gender</dt>
        <dd class="answer">Male</dd>
        <dt class="tit">Birthday</dt>
        <dd class="answer">20th February 1981</dd>
        <dt class="tit">Height</dt>
        <dd class="answer">186cm</dd>
        <dt class="tit">Weight</dt>
        <dd class="answer">86kg</dd>
        <dt class="tit">Blood type</dt>
        <dd class="answer">B</dd>
        <dt class="tit">Hobby</dt>
        <dd class="answer">Basketball</dd>
        <dt class="tit">Mobile</dt>
        <dd class="answer">010-육오구륙-칠팔사오</dd>
        <dt class="tit">E-mail</dt>
        <dd class="answer"><a href="mailto:positionfov@gmail.com" title="메일보내기">positionfov@gmail.com</a></dd>
        <dt class="tit">Motto</dt>
        <dd class="answer">인내와 끈기, 그리고 지칠 줄 모르는 노력은 성공을 위한 가장 확실한 요소들이다.</dd>
        <dt class="tit">Career</dt>
        <dd class="answer">
            <ul>
                <li>(주)SG 크리에이트 온라인사업부 컨텐츠개발팀 대리 (2008, 4. 21 ~ 2010. 5. 31 정규직)</li>
                <li>엔도어즈 플랫폼개발실 기술지원팀 UI Developer (2010. 6. 7 ~ 2011. 3. 31)</li>
                <li>넥슨 라이브본부 라이브웹개발팀 UI Developer (2011. 4. 1 ~ 2013. 7. 31)</li>
                <li>엔도어즈 서비스플랫폼팀 UI Developer (2013. 8. 1 ~ 2015. 4. 24)</li>
                <li>앤서스랩 UX팀 UX Engineer (2015. 4. 27 ~ )</li>
            </ul>
        </dd>
    </dl>
</section>
