$count: 10;
$time: 2; //in seconds
$size: 100;
$color: #bdd0a2;
$ux-dashboard-eng-font-path:'./assets/fonts/Roboto-Medium.woff';
$ux-dashboard-kor-font-path:'./assets/fonts/NanumMyeongjo-Regular.woff';


@font-face {
    font-family: 'Roboto';
    src: url(#{$ux-dashboard-eng-font-path});
    src: local('Roboto-Medium'), url(#{$ux-dashboard-eng-font-path}) format('woff');
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url(#{$ux-dashboard-kor-font-path});
    src: local('NanumMyeongjo-Regular'), url(#{$ux-dashboard-kor-font-path}) format('woff');
}

*{margin:0;padding:0;}
html, body{background-color:#2b2f26;height:100%;overflow:hidden;}
body{font-family: 'Roboto', 'NanumMyeongjo', sans-serif; font-size:1em;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
a{text-decoration: underline; color:#fff;}
ol, ul{list-style-type: none;}
router-outlet ~ * {
	position: absolute;
	height: 100%;
	width: 100%;
}
  
canvas{width:100%;height:100%;}
uxe-benjamin{
	display: block;
	position: relative;
	height:100%;
}

#scene{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.benjaminContainer{
	position:relative;
	height:100%;
	z-index: 10;
	.benjaminHeader{
		display:flex;
		justify-content: space-between;
		padding:10px;
		h1{
			flex:1 0;
			color:#fff;
			font-size:1em;
		}
		.navigation{
			flex: 0 0;
			display:flex;
			> a{
				display: block;
				color: rgba(#fff, 0.7);
				font-size:0.9em;
				margin-right:10px;
				transition: color 0.3s ease-out;
				&.active, &:hover{color: rgba(#fff, 1);}
				&:active{color: rgba(#fff, 0.5);}
			}
		}
	}
	.benjaminSection{
		height:100%;
		.profileListWrap{
			position:absolute;
			width:80%;
			padding:10px;
			background-color:rgba(#000, 0.3);
			border:1px solid rgba(#333, 0.3);
			bottom:50px;
			left:50%;
			transform:translateX(-50%);
			color:rgba(#fff, 0.5);
			.profileList{
				display:flex;
				flex-wrap: wrap;
				.tit, .answer{
					border-bottom:1px solid rgba(#ccc, 0.3);
					padding:5px 0;
					font-size: 0.9em;
					font-weight:normal;
				}
				.tit{width:30%;}
				.answer{width:70%;}
			}
		}
	}
}

.loader {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #2b2f26;
	.preloader {
		/* size */
		width: $size + px;
		height: $size + px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		animation: rotatePreloader $time + s infinite ease-in;
	}
}

@keyframes rotatePreloader {
	0% {
		transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
	}
}
.preloader div {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.preloader div::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 0%;
	width: 10%;
	height: 10%;
	background-color: $color;
	transform: translateX(-50%);
	border-radius: 50%;
}

@for $i from 1 through $count {
	.preloader div:nth-child(#{$i}) {
		transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
		animation: rotateCircle + $i $time + s infinite linear;
		z-index: $count - $i;
	}
	@keyframes rotateCircle#{$i} {
		#{percentage(((50 / $count) * ($i - 1)) / 100)} {
			opacity: 0;
		}
		#{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
			opacity: 1;
			transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
		}
		#{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
			transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
		}
		#{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
			transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
		}
		100% {
			transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
			opacity: 1;
		}
	}
}
