<div class="sceneArea">
    <canvas #canvas appResize 
        [canvas]="canvas" 
        [camera]="camera" 
        [renderer]="renderer" 
        
        appDatGui 
        [datGui]="gui" 
        [datCamera]="camera"
        [resetCameraPosition]="cameraPosition">
    </canvas>
</div>
<section class="portfolioWrap sectionArea">
    <h2 class="portfolioTitle">Portfolio</h2>
    <swiper class="portfolioSwiper" [config]="portfolioSwipeConifg" #portfolioSwipe>
        <ng-template ngFor let-item [ngForOf]="portfolioLists">
            <dl class="portfolioList">
                <dt class="projectPho">
                    <img [src]="imgPath + 'my_poster.jpg'" [attr.data-src]="imgPath + item.thumnail" [alt]="item.project" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </dt>
                <dd class="projectList">
                    <ul>
                        <li><strong class="label">&middot; Project</strong><span class="subject">{{ item.project }}</span></li>
                        <li><strong class="label">&middot; 참여도</strong><span class="subject">{{ item.participation }}</span></li>
                        <li><strong class="label">&middot; 설명</strong><span class="subject">{{ item.subject }}</span></li>
                    </ul>
                    <button type="button" class="runBtn" *ngIf="item.link" (click)="onLinkProject(item.link)">Run</button>
                </dd>
            </dl>
        </ng-template>
    </swiper>
</section>