<div class="sceneArea">
    <canvas #canvas></canvas>
</div>
<section class="introductionWrap sectionArea">
    <h2 class="introTitle">Introduction</h2>
    <section class="introSec">
        <h3>"오늘보다 나은 내일을 만들기 위해 조금씩 정진하여 끊임없이 배우는 삶을 살고 싶습니다."</h3>
        <p>저는 고등학교 때 부터 컴퓨터를 다루는 것을 좋아했습니다. 누가 가르쳐주진 않았지만 스스로 하나하나 배우는 재미가 있었습니다. 당시 포토샵 2.0으로 CD 자켓과 만화 캐릭터를 그려 PC통신 시절 안시 코드로 움직이는 그래픽을 만들기도 하였습니다.</p>
        <p>컴퓨터로 무언가를 만드는 것에 보람을 느낀 저는 어떤 분야에 호기심이 생기면 많은 생각을 하지 않고 바로 실행에 옮기는 습관이 생겼습니다. 실천과정이 어려울 수록 나중의 결과가 더 기쁘고 벅차듯이 과정의 어려움은 훗날 보람과 희열에 비하면 보잘것 없기에 항상 배우고 실천하는 자세를 유지할 수 있었고 그러한 습관들 덕에 웹디자이너에서 부터 시작하여 현재는 Front-end Developer의 과정을 밟지 않나 생각됩니다.</p>
        <p>나이가 들면 열정이 식는다고 합니다. 하지만 저는 배움에 있어서 나이는 전혀 장애가 되지 않는다고 생각합니다. 자전거는 폐달을 돌려야 제 기능을 발휘하듯 사람 역시 열정이란 에너지가 없다면 아무도 타지 않는 녹쓴 자전거에 불과할 것입니다.</p>
        <blockquote>
            <p>인내와 끈기, 그리고 지칠 줄 모르는 노력은 성공을 위한 가장 확실한 요소들이다. <em class="speaker">- 나폴레옹 힐 -</em></p>
            <img [src]="imgPath + 'img_tajoal.jpg'" alt="내 사진" class="myPhoto">
        </blockquote>
        <h3>"디자이너에서 Front-end Developer로 거듭나는 능동형 개발자"</h3>
        <p>모든일에는 순서와 방법과 규칙이 존재합니다. 제가 IT에 첫발을 내디뎠을 쯤엔 한국의 웹분야는 웹표준, 웹접근성이라는 말이 생소하고 낯설었습니다. 하지만 저는 웹퍼블리셔로 직업을 굳혀야 겠다고 마음을 먹기 그리 오랜 시간이 걸리지 않았습니다. 잘못된 태그를 오용 또는 복제하고 장애인에 대한 배려는 전혀 없는 웹사이트들이 대부분이었기 때문입니다.</p>
        <p>2008년 당시만 해도 관련 학원도 없고 따로 가르치는 곳도 없었기에 세달여간 집에서 독학을 하였습니다. 물론 멘토가 없었기에 힘든점이 많았지만 선행 개발자들의 블로그나 홈페이지에서 좋은 얘기와 개발 지식을 많이 얻을 수 있었습니다.</p>
        <p>그러던 어느날 IT 동호회에 가입하게 되었고 동호회 주최로 강의를 부탁 받았습니다. 부족하지만 제가 배웠던 것들 그리고 웹표준을 필요로 하는 사람들에게 <a [href]="docPath + 'web_standard.pdf'" target="_blank">"올바른 웹사이트를 위한 웹표준"</a> 이라는 주제로 웹디자이너, 기획자 등을 대상으로 4시간 동안 강의를 했던 경험이 있습니다.</p>
        <p>그때 당시 생각은 누구를 가르치기 위해서라기 보다는 항상 도전하고 실천하는 자세를 중요시 생각하기 때문과 웹표준의 중요성을 각인시키고 싶은 마음이 강했고 저에게는 자신감을 심어주었던 소중한 경험이 되었습니다. 그리고 2주에 1번 소속된 IT 동호회에서 마련한 스터디와 세미나에 참여하면서 제 분야를 사람들과 공유하고 새로운 지식을 얻기도 하였습니다.</p>
        <p>엔도어즈에 입사한 후로는 UI개발자가 저 혼자였지만 가이드라인의 필요성을 느껴 <a [href]="docPath + 'Ndoors_Web_UI_Guideline_v1.pdf'" target="_blank">UI 가이드라인</a>과 <a [href]="docPath + 'Ndoors_SEO_Guideline_v1.pdf'" target="_blank">SEO 가이드라인</a>을 작성해 공유하였고 동적인 웹의 관심이 커지면서 자바스크립트, 제이쿼리의 활용을 위해 학원을 다니면서 공부하였습니다. 프로그래밍을 전공하지 않아서 자바스크립트에 적응하기가 처음엔 꽤 힘들었지만 개인 블로그에 스터디 작업물을 틈틈히 포스팅을 하고 티저 사이트나 프로모션 페이지에 동적인 효과들을 구현하면서 DOM API와 객체지향 자바스크립트 프로그래밍를 이해하게 되었습니다.</p>
        <p>넥슨으로 그룹사 이동 후에 불멸온라인, 영웅시대30, 삼국지를 품다 등 여러가지 프로젝트에 참여하였고 그 중에서 마비노기와 삼국지를 품다 웹접근성 고도화 프로젝트가 가장 기억에 남습니다. 사내 웹접근성TF 팀과 협업 하면서 웹접근성을 끌어올리기 위해 웹접근성 프로젝트 관련 서적을 구입하여 보았으며 세미나 참여를 통해 사용자의 다양성에 대해 다시 한번 깊게 생각하게 되었습니다. 엔도어즈에서는 모바일 웹앱 프로젝트를 진행하면서 HTML5와 CSS3를 적극 활용하고 있고 반응형 웹 프로젝트도 진행한 경험이 있습니다.</p>
        <p>현재는 심도 깊은 자바스크립트에 관심을 가지며 SPA(Single Page Application) 개발과 Html5 API인 Canvas 스터디를 하고 있으며 현재 재학 중인 방송통신대 수업을 통해 소프트웨어 개발 기반의 지식 범위를 점차 넓혀가고 있습니다. 또한 좋은 개발자 컨퍼런스 행사가 있으면 참여하여 IT 최신 트렌드와 기술을 접하고 강사가 발표한 프리젠테이션 내용 중 관심 있거나 흥미 있는 내용은 다시 검색하여 견문을 조금씩 넓혀가고 있습니다.</p>

        <h3>"모든 사용자에게 감동을 주는 개발자"</h3>
        <p>저는 모든 사용자에게 감동을 주는 개발자가 되는 것이 최종 목표입니다. 단순히 이것을 최종 목표라 말하진 않습니다. 기술은 진보하고 있고 플랫폼은 또 다시 변할 것입니다. 하지만 변하지 않는 사실은 개발자가 아무리 유능한 제품을 만든다 하더라도 사용자 입장에서 배려하지 않으면 안된다는 것입니다.</p>
        <p>흔히 개발자는 프로젝트 완성을 목표로 기능구현 작업을 한다고 하지만 제가 목표하는 UI개발자는 UI를 통해 인간이 컴퓨터로부터 얻는 정보의 가치를 극대화 시키는 일과 사용자가 바로 느낄 수 있는 감성적인 부분을 중요하게 생각하고 이를 실현시킬 수 있는 개발자 입니다. 이러한 목표를 실현하기 위해서는 풍부한 UX 지식과 휴먼 인터페이스 기술을 훌룡히 구현할 수 있는 소양을 계속 쌓아나갈 것이고 언제나 사용자를 생각하는 `역지사지`의 마음을 되새기며 일에 몰두할 것입니다.</p>
    </section>
</section>