<scene id="scene" [routePath]="routePath"></scene>

<article class="benjaminContainer" [@fadeAnimation]="page.isActivated ? page.activatedRoute : ''">
    <header class="benjaminHeader">
        <h1>UXE. Benjamin</h1>
        <nav class="navigation">
            <a *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive">
                {{link.label}}
            </a>
        </nav>
    </header>
    <section class="benjaminSection">
        <router-outlet #page="outlet"></router-outlet>
    </section>
</article>