//Default Color
$black-color: #000 !default;
$white-color: #fff !default;
//Line Color
$scrollbar-line: $black-color !default;
$scrollbar-track: $black-color !default;
$scrollbar-thumb: #4d4d4d !default;

$loader-count: 10;
$loader-time: 2; //in seconds
$loader-size: 100;
$loader-color: #bdd0a2;
$ux-dashboard-eng-font-path:'./assets/fonts/Roboto-Medium.woff';
$ux-dashboard-kor-font-path:'./assets/fonts/NanumGothic-Regular.woff';


@font-face {
    font-family: 'Roboto';
    src: url(#{$ux-dashboard-eng-font-path});
    src: local('Roboto-Medium'), url(#{$ux-dashboard-eng-font-path}) format('woff');
}

@font-face {
    font-family: 'NanumGothic';
    src: url(#{$ux-dashboard-kor-font-path});
    src: local('NanumMyeongjo-Regular'), url(#{$ux-dashboard-kor-font-path}) format('woff');
}

*{margin:0;padding:0;}
html, body{background-color:#2b2f26;height:100%;overflow:hidden;}
body{font-family: 'Roboto', 'NanumGothic', sans-serif; font-size:1em;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
a{text-decoration: underline; color:$white-color;}
ol, ul, dt{list-style-type: none;}
button{border:0 none; cursor:pointer;}
router-outlet ~ * {
	position: absolute;
	height: 100%;
	width: 100%;
}
/* scroll style start */
::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar-track{background:$scrollbar-track;border-left:1px solid $scrollbar-line;}
::-webkit-scrollbar-thumb{background:$scrollbar-thumb;border-radius:3px;border-left:1px solid $scrollbar-line;}
::-webkit-scrollbar-thumb:hover{background:lighten($scrollbar-thumb, 20%);}
  
canvas{width:100%;height:100%;}
uxe-benjamin{
	display: block;
	position: relative;
	height:100%;
}

#scene{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.benjaminContainer{
	position:relative;
	height:100%;
	z-index: 10;
	.benjaminHeader{
		display:flex;
		justify-content: space-between;
		padding:10px;
		h1{
			flex:1 0;
			color:$white-color;
			font-size:1em;
		}
		.navigation{
			flex: 0 0;
			display:flex;
			> a{
				display: block;
				color: rgba($white-color, 0.7);
				font-size:0.9em;
				margin-right:10px;
				transition: color 0.3s ease-out;
				&.active, &:hover{color: rgba($white-color, 1);}
				&:active{color: rgba($white-color, 0.5);}
			}
		}
	}
	.benjaminSection{
		height:100%;
		.sectionArea{
			position:absolute;
			width:80%;
			padding:20px;
			background-color:rgba($black-color, 0.3);
			border:1px solid rgba(#333, 0.3);
			bottom:50px;
			left:50%;
			transform:translateX(-50%);
			color:rgba($white-color, 0.5);
			h2{
				margin-bottom:5px;
				font-style:italic;
				font-size:1.2em;
				color:rgba($white-color, 0.7);
			}
			&.profileListWrap{	
				max-height:500px;
				overflow-y: auto;
				.profileList{
					display:flex;
					flex-wrap: wrap;
					.tit, .answer{
						border-top:1px solid rgba(#ccc, 0.1);
						padding:5px 0;
						font-size: 0.9em;
						font-weight:normal;
						line-height:150%;
					}
					.tit{width:30%;}
					.answer{width:70%;}
				}
			}
			&.introductionWrap{
				max-height:500px;
				overflow-y: auto;
				.introSec{
					.myPhoto{
						display:block;
						max-width:500px;
						width:90%;
						margin:0 auto;
					}
					h3{
						margin:20px 0 10px 0;
					}
					blockquote{
						font-size: 1.5em;
						color:rgba($white-color, 0.7);
						text-align:center;
						margin:20px 0;
						> p{padding-bottom:10px;}
						.speaker{
							padding-left:10px;
							font-size:0.75em;
						}
					}
					p{
						font-size: 0.9em;
						line-height: 150%;
					}
				}
			}
			&.portfolioWrap{
				width:calc(100% - 40px);
				max-height:500px;
				&::after{
					content:'';
					position:absolute;
					width:100%;
					height:1px;
					background-color:rgba($white-color, 0.2);
					top:50%;
					left:0;
				}
				.portfolioSwiper{
					.portfolioList{
						position:relative;
						width:290px;
						height:440px;
						padding:5px;
						margin-right:20px;
						background-color:rgba($white-color, 1);
						border:1px solid rgba($black-color, 0.5);
						box-sizing:border-box;
						.projectPho{
							position:relative;
							height:200px;
							border-bottom:1px solid #ddd;
							padding-bottom:10px;
							margin-bottom:10px;
							img{
								position:absolute;
								width:100%;
								clip:rect(0, 290px, 200px, 0);
							}
						}
						.projectList{
							max-height:205px;
							overflow-y:auto;
							color:#000;
							> ul{
								> li{
									display:flex;
									flex-wrap:wrap;
									margin-bottom:10px;
									font-size:0.9em;
									.label{flex:0 0 70px;padding-left:5px;}
									.subject{flex:1 0;}
								}
							}
							.runBtn{
								position:absolute;
								width:50px;
								height:30px;
								border-radius:5px;
								background-color:lighten($black-color, 10%);
								bottom:10px;
								right:10px;
								color:$white-color;
								font-size:0.9em;
								line-height:100%;
								z-index:10;
								&:hover{background-color:lighten($black-color, 10%);}
								&:active{color:darken($white-color, 10%);line-height:150%;}
							}
						}
					}
				}
			}
		}
	}
}


//loader styles
.loader {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #2b2f26;
	.preloader {
		/* size */
		width: $loader-size + px;
		height: $loader-size + px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		animation: rotatePreloader $loader-time + s infinite ease-in;
		div{
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 0%;
				width: 10%;
				height: 10%;
				background-color: $loader-color;
				transform: translateX(-50%);
				border-radius: 50%;
			}
		}
	}
}

@keyframes rotatePreloader {
	0% {
		transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
	}
}

@for $i from 1 through $loader-count {
	.preloader div:nth-child(#{$i}) {
		transform: rotateZ(((360 / $loader-count) * ($i - 1)) + deg);
		animation: rotateCircle + $i $loader-time + s infinite linear;
		z-index: $loader-count - $i;
	}
	@keyframes rotateCircle#{$i} {
		#{percentage(((50 / $loader-count) * ($i - 1)) / 100)} {
			opacity: 0;
		}
		#{percentage((((50 / $loader-count) + 0.0001) * ($i - 1)) / 100)} {
			opacity: 1;
			transform: rotateZ((0 - ((360 / $loader-count) * ($i - 2))) + deg);
		}
		#{percentage((((50 / $loader-count) * ($i - 0)) + 2) / 100)} {
			transform: rotateZ((0 - ((360 / $loader-count) * ($i - 1))) + deg);
		}
		#{percentage(((50 + ((50 / $loader-count) * ($i - 0))) + 2) / 100)} {
			transform: rotateZ((0 - ((360 / $loader-count) * ($i - 1))) + deg);
		}
		100% {
			transform: rotateZ((0 - ((360 / $loader-count) * ($loader-count - 1))) + deg);
			opacity: 1;
		}
	}
}
