//Default Color
$black-color: #000 !default;
$white-color: #fff !default;
$green-color: #2b2f26 !default;
//Line Color
$scrollbar-line: $black-color !default;
$scrollbar-track: $black-color !default;
$scrollbar-thumb: #4d4d4d !default;
//font variables
$ux-dashboard-eng-font-path:'./assets/fonts/Roboto-Medium.woff';
$ux-dashboard-kor-font-path:'./assets/fonts/NanumGothic-Regular.woff';
//loader variables
$loader-count: 10;
$loader-time: 2; //in seconds
$loader-size: 100;
$loader-color: $white-color;

@font-face {
    font-family: 'Roboto';
    src: url(#{$ux-dashboard-eng-font-path});
    src: local('Roboto-Medium'), url(#{$ux-dashboard-eng-font-path}) format('woff');
}

@font-face {
    font-family: 'NanumGothic';
    src: url(#{$ux-dashboard-kor-font-path});
    src: local('NanumGothic-Regular'), url(#{$ux-dashboard-kor-font-path}) format('woff');
}

*{margin:0;padding:0;}
html, body{background-color:$black-color;height:100%;overflow:hidden;}
body{font-family: 'Apple SD Gothic Neo', 'Roboto', 'NanumGothic', sans-serif; font-size:1em; color: $white-color;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
a{text-decoration: underline; color:$white-color;}
ol, ul, dt{list-style-type: none;}
button{border:0 none; cursor:pointer;}
fieldset{border:0 none;}
input, textarea{font-family:'Apple SD Gothic Neo', 'Roboto', 'NanumGothic', sans-serif;}
textarea{resize:none;}
label{font-weight:normal;}
router-outlet ~ * {
	position: absolute;
	height: 100%;
	width: 100%;
}
.hidden{display:none !important;}
/* scroll style start */
::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar-track{background:$scrollbar-track;border-left:1px solid $scrollbar-line;}
::-webkit-scrollbar-thumb{background:$scrollbar-thumb;border-radius:3px;border-left:1px solid $scrollbar-line;}
::-webkit-scrollbar-thumb:hover{background:lighten($scrollbar-thumb, 20%);}
  
canvas{width:100%;height:100%;}
uxe-benjamin{
	display: block;
	position: relative;
	height:100%;
	&::after{
		content:url(./assets/img/sand_normal_map.jpg);
	}
}

#scene{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.benjaminContainer{
	position:relative;
	height:100%;	
}

.benjaminHeader{
	position:relative;
	display:flex;
	justify-content: space-between;
	padding:10px;
	z-index: 1;
	h1{
		flex:1 0;
		color:$white-color;
		font-size:1em;
	}
	.navigation{
		flex: 0 0;
		display:flex;
		> a{
			display: block;
			color: rgba($white-color, 0.7);
			font-size:0.9em;
			text-decoration:none;
			margin-right:10px;
			transition: color 0.3s ease-out;
			&.active, &:hover{color: rgba($white-color, 1);}
			&:active{color: rgba($white-color, 0.5);}
		}
	}
	.kakaoLoginArea{
		display:flex;
		position:absolute;
		top:35px;
		right:8px;
		> li{
			margin-right:10px;
			&.login{
				transform:scale(0.6) translate(70px, -14px);
			}
			&.profile{
				.nickname, .thumnail{
					display:inline-block;
					vertical-align:middle;
					margin-left:10px;
				}
				.thumnail{
					> img{
						border-radius:50%;
						width:35px;
						height:35px;
					}
				}
			}
			&.logout{
				a{
					display:block;
					background-color:#FFEB00;
					border-radius:5px;
					padding:0 10px;
					color:#3C1E1E;
					font-weight: bold;
					font-size:0.75em;
					height:32px;
					line-height:32px;
					text-decoration:none;
					&:hover{background-color:darken(#FFEB00, 10%);}
				}
			}
		}
	}	
}

.benjaminSection{
	height:100%;
	.sceneArea{
		position:fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color:$black-color;
	}
	.sectionArea{
		position:absolute;
		width:80%;
		padding:20px;
		background-color:rgba($black-color, 0.3);
		border:1px solid rgba(#333, 0.3);
		bottom:50px;
		left:50%;
		transform:translateX(-50%);
		color:rgba($white-color, 0.5);
		h2{
			margin-bottom:5px;
			font-style:italic;
			font-size:1.2em;
			color:rgba($white-color, 0.7);
		}
		&.profileListWrap{	
			max-height:500px;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			.profileList{
				display:flex;
				flex-wrap: wrap;
				.tit, .answer{
					border-top:1px solid rgba(#ccc, 0.1);
					padding:5px 0;
					font-size: 0.9em;
					font-weight:normal;
					line-height:150%;
				}
				.tit{width:30%;}
				.answer{width:70%;}
			}
		}
		&.introductionWrap{
			max-height:500px;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			.introSec{
				.myPhoto{
					display:block;
					max-width:800px;
					width:90%;
					margin:0 auto;
				}
				h3{
					margin:20px 0 10px 0;
				}
				blockquote{
					font-size: 1.5em;
					color:rgba($white-color, 0.7);
					text-align:center;
					margin:20px 0;
					> p{padding-bottom:10px;}
					.speaker{
						padding-left:10px;
						font-size:0.75em;
					}
				}
				p{
					font-size: 0.9em;
					line-height: 150%;
				}
			}
		}
		&.portfolioWrap{
			width:calc(100% - 40px);
			max-height:500px;
			&::after{
				content:'';
				position:absolute;
				width:100%;
				height:1px;
				background-color:rgba($white-color, 0.2);
				top:50%;
				left:0;
			}
			.portfolioSwiper{
				.portfolioList{
					position:relative;
					width:290px;
					height:440px;
					padding:5px;
					margin-right:20px;
					background-color:rgba($white-color, 1);
					border:1px solid rgba($black-color, 0.5);
					box-sizing:border-box;
					.projectPho{
						position:relative;
						height:200px;
						border-bottom:1px solid #ddd;
						padding-bottom:10px;
						margin-bottom:10px;
						img{
							position:absolute;
							width:100%;
							clip:rect(0, 290px, 200px, 0);
							&::after{
								content:'';
								position: absolute;
								width:100%;
								height:200px;
								background-color:$black-color;
								left:0;
								top:0;
							}
						}
					}
					.projectList{
						max-height:205px;
						overflow-y:auto;
						-webkit-overflow-scrolling: touch;
						color:#000;
						> ul{
							> li{
								display:flex;
								flex-wrap:wrap;
								margin-bottom:10px;
								font-size:0.9em;
								.label{flex:0 0 70px;padding-left:5px;}
								.subject{flex:1 0;}
							}
						}
						.runBtn{
							position:absolute;
							width:50px;
							height:30px;
							border-radius:5px;
							background-color:lighten($black-color, 10%);
							bottom:10px;
							right:10px;
							color:$white-color;
							font-size:0.9em;
							line-height:100%;
							z-index:10;
							&:hover{background-color:lighten($black-color, 10%);}
							&:active{color:darken($white-color, 10%);line-height:150%;}
						}
					}
				}
			}
		}
		&.contactWrap{
			min-height:400px;
			.form-elements{
				position:relative;
				display:table;
				width:100%;
				.label-group{
					display:table-row;
					.table-cell{
						display:table-cell;
						padding:10px 0;
						&:nth-child(1){
							width:calc(30% - 15px);
							padding-right:15px;
							vertical-align:middle;
							text-align:right;
							color:rgba($white-color, 0.7);
						}
						&:nth-child(2){width:70%;}
						input, textarea{
							min-width:300px;
							padding: 5px;
							background-color:$white-color;
							color:$black-color;
							border: 2px solid #121212;
							outline: none;
							&:focus{
								background-color:#f0e1b9;
								border:2px solid #1f8dd6;
							}
						}
					}
				}
				.sendBtn { 
					width: 200px;
					border: 0 none; 
					border-radius: 5px; 
					padding: 7px 15px; 
					margin-top:20px;
					font-size: 1.2em; 
					color: $white-color; 
					vertical-align: middle; 
					box-shadow: 0 5px 7px rgba($black-color, 0.5);
					background-color:#1f8dd6;
					outline:none;
					.icon_email{
						display: inline-block;
						width:20px;
						height:20px;
						background:url(./assets/img/icon_email_send.svg) 0 0 no-repeat;
						vertical-align:middle;
						margin-right:5px;
					}
					&:hover{
						background-color:lighten(#1f8dd6, 10%);
					}
					&:active{
						color: darken($white-color, 20%); 
						background-color:darken(#1f8dd6, 10%);
						i{filter:brightness(0.8);}
					}
				}
			}
			.thankyou_message{
				background-color:#1f8dd6;
				padding:15px;
				margin-top:40px;
				border-radius:10px;
				text-align:center;
				h2{color:$white-color;}
			}
		}
	}
}


//loader styles
.loader {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: $black-color;
	.preloader {
		/* size */
		width: $loader-size + px;
		height: $loader-size + px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		animation: rotatePreloader $loader-time + s infinite ease-in;
		div{
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 0%;
				width: 10%;
				height: 10%;
				background-color: $loader-color;
				transform: translateX(-50%);
				border-radius: 50%;
			}
		}
	}
}

@media screen and(max-width: 1024px){
	.benjaminSection{
		.sectionArea{
			&.introductionWrap{
				.introSec{
					blockquote{text-align: left;}
				}
			}
		}
	}	
}

@media screen and(max-width: 640px){
	.benjaminHeader{
		.navigation{
			display:block;
			position:absolute;
			top:10px;
			right:10px;
		}
	}
	
	.benjaminSection{
		.sectionArea{
			&.contactWrap{
				.form-elements{
					.label-group{
						.table-cell{
							input, textarea{min-width:195px;}
						}
					}
				}
			}
		}
	}
}

@keyframes rotatePreloader {
	0% {
		transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
	}
}

@for $i from 1 through $loader-count {
	.preloader div:nth-child(#{$i}) {
		transform: rotateZ(((360 / $loader-count) * ($i - 1)) + deg);
		animation: rotateCircle + $i $loader-time + s infinite linear;
		z-index: $loader-count - $i;
	}
	@keyframes rotateCircle#{$i} {
		#{percentage(((50 / $loader-count) * ($i - 1)) / 100)} {
			opacity: 0;
		}
		#{percentage((((50 / $loader-count) + 0.0001) * ($i - 1)) / 100)} {
			opacity: 1;
			transform: rotateZ((0 - ((360 / $loader-count) * ($i - 2))) + deg);
		}
		#{percentage((((50 / $loader-count) * ($i - 0)) + 2) / 100)} {
			transform: rotateZ((0 - ((360 / $loader-count) * ($i - 1))) + deg);
		}
		#{percentage(((50 + ((50 / $loader-count) * ($i - 0))) + 2) / 100)} {
			transform: rotateZ((0 - ((360 / $loader-count) * ($i - 1))) + deg);
		}
		100% {
			transform: rotateZ((0 - ((360 / $loader-count) * ($loader-count - 1))) + deg);
			opacity: 1;
		}
	}
}
